
@model JewelryAuctionData.Models.Payment

<div class="modal-body">
    <form>
        <div class="form-group">
        <div class="form-group">
            <label for="customerId">Customer ID:</label>
            <input type="number" class="form-control" id="customerId" name="customerId" required>
        </div>
        <div class="form-group">
            <label for="auctionResultId">Auction Result ID:</label>
            <input type="number" class="form-control" id="auctionResultId" name="auctionResultId" required>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <input type="text" class="form-control" id="status" name="status" required>
        </div>
        <div class="form-group">
            <label for="paymentMethod">Payment Method:</label>
            <input type="text" class="form-control" id="paymentMethod" name="paymentMethod" required>
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="datetime-local" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="jewelryId">Jewelry ID:</label>
            <input type="number" class="form-control" id="jewelryId" name="jewelryId" required>
        </div>
        <div class="form-group">
            <label for="fee">Fee:</label>
            <input type="number" class="form-control" id="fee" name="fee" required>
        </div>
        <div class="form-group">
            <label for="percentFee">Percent Fee:</label>
            <input type="number" class="form-control" id="percentFee" name="percentFee" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="totalPrice">Total Price:</label>
            <input type="number" class="form-control" id="totalPrice" name="totalPrice" required>
        </div>
    </form>
</div>

